@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  transition: all 0.5s ease-in;
}
:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* light theme */
  --background-primary-color: #fafafa;
  --add-btn-color: #f8937e;
  --font-primary-color: #000;
  --grey-background: #fff;
  --red-color: #c0392b;
  --green-color: #2ecc71;
}
/* dark theme */
html.dark {
  --background-primary-color: #292d32;
  --add-btn-color: #e94d29;
  --font-primary-color: #fff;
  --grey-background: #485059;
  --red-color: #ff604a;
  --green-color: #81ff9c;
}
.font-color-theme {
  color: var(--font-primary-color);
}
body,
html,
.main {
  background-color: var(--background-primary-color);
}
.toggle {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 50px;
  height: 50px;
  background-color: var(--add-btn-color);
  color: #fff;
  border: none;
  border-radius: 50%;
}
.first-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  position: relative;
  top: 150px;
}
.container {
  margin: 30px auto;
  width: 830px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.column-width {
  width: 400px;
}
.zero-padding {
  padding: 0;
  margin: 0;
}
.inc-exp-container {
  background-color: var(--grey-background);
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0px 0;
  border-radius: 10px;
}
.inc-exp-container > div {
  flex: 1;
  text-align: center;
}
#balance {
  letter-spacing: 1px;
  margin: 0;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}
h3 {
  color: var(--font-primary-color);
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}
h4 {
  margin: 0;
  text-transform: uppercase;
}
h2 {
  margin: 0;
}
.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}
.plus {
  color: var(--green-color);
}
.minus {
  color: var(--red-color);
}
label {
  color: var(--font-primary-color);
  display: inline-block;
  margin: 10px 0;
}
input[type="text"],
input[type="number"],
input[type="date"] {
  border: 1px solid #dedede;
  border-radius: 10px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  background-color: var(--grey-background);
  color: #777777;
}
.btn {
  background-color: var(--add-btn-color);
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}
.btn:focus,
.delete-btn:focus {
  outline: 0;
}
.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}
.list li {
  background-color: var(--grey-background);
  box-shadow: var(--box-shadow);
  color: var(--font-primary-color);
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}
.list .date {
  color: #a9a9a9;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.list li.plus {
  border-right: 5px solid var(--green-color);
}
.list li.minus {
  border-right: 5px solid var(--red-color);
}
.delete-btn {
  cursor: pointer;
  background-color: var(--red-color);
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.list li:hover .delete-btn {
  opacity: 1;
}

/* tablets and phones */
@media only screen and (max-width: 850px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .column-width{
    width: 100%;
  }
  .list {
    padding-left: 20px;
    margin-bottom: 40px;
  }
}
